
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <app-header></app-header>
        <!-- <app-create-character></app-create-character> -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
      <!-- <app-tabs></app-tabs> -->
    </div>
  </div>
</div>



<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12"> -->
            <!-- <h3>This is App Component</h3>
            <hr>
            <p>{{ number }}</p>
            <hr>
            <button class='btn btn-primary' (click)="onIncrease($event)">Number Click</button>

            <hr>
             <app-servers></app-servers> -->
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        <!-- </div>
    </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      Welcome to {{title}} !
      <app-server></app-server>
    </div>
  </div>
</div> -->

<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12" ngClass> -->
      <!-- //bind the component property -->
      <!-- <app-dashboard [loadState]='rootState' (loadStateChange)='onLoadStateChange($event)'></app-dashboard>
      <hr>
      <app-cart [items] = 'rootItems'  (itemsChange) = 'onItemsChange($event)'></app-cart>
    </div>
  </div>
</div>
 -->

















<!-- <app-dashboard [loadState]="rootLoadState" (loadStateChange) = 'onLoadStateChange($event)'></app-dashboard> -->
